@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .default-layout {
    @apply m-auto px-5 lg:px-8 max-w-[1240px] sm:px-10  flex flex-col items-center justify-between;
  }
  .default-input {
    @apply text-xs border border-accentLight focus:border-accentLight focus:outline-none focus:ring-offset-2 focus:ring-2 focus:ring-[#7abef5] focus:ring-opacity-75 shadow-sm rounded-md p-2  placeholder:text-sm;
  }
  .title {
    @apply w-fit inline-block text-default dark:text-light capitalize font-bold mb-6 text-2xl sm:text-3xl  md:text-4xl;
  }
  .sub-title {
    @apply w-full inline-block text-default dark:text-light capitalize font-semibold mb-6 text-xl   md:text-2xl;
  }
  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }
  .flex-row-center {
    @apply flex items-center justify-center;
  }

  .test-border {
    @apply border-2 border-red-500;
  }
}

html {
  scroll-behavior: smooth;
}

/*블로그 제목 클릭 시 링크이동 라이브러리를 위한 css*/
h1 > a > .icon.icon-link:after,
h2 > a > .icon.icon-link:after,
h3 > a > .icon.icon-link:after {
  content: " #";
  color: #c5c8cc;
  font-size: 1.5rem;
}

h2 > a,
h3 > a {
  text-decoration: none !important;
}

code {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}

[data-highlighted-line] {
  background-color: rgba(255, 255, 255, 0.1) !important;
  padding: 2px;
  padding-left: 0;
  padding-right: 4px;
  border-radius: 2px;
  border-left: 2px solid #7b00d3;
}

[data-highlighted-chars] {
  background-color: rgba(255, 255, 255, 0.2) !important;
  padding: 2px;
  border-radius: 2px;
}

[data-rehype-pretty-code-fragment] {
  position: relative;
}

[data-rehype-pretty-code-title] {
  position: absolute;
  right: 0;
  background-color: #7b00d3;
  color: #fff;
  padding: 4px 8px;
  font-size: 1rem;
  border-end-start-radius: 4px;
}

[data-rehype-pretty-code-caption] {
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: #747474;
}
.beforeHighlight {
  > div > div > h2 {
    white-space: pre-line !important;
  }
}
.textEllipsis {
  > div > div {
    padding: 0 !important;
    > h2 {
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-word;
    }
  }
}
li {
  line-height: 22px;
}

.static-tweet blockquote {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.static-tweet-emoji {
  height: 1.2em !important;
  width: 1.2em !important;
}

.notion__container .notion-header {
  display: none !important;
}

.notion__container .notion-page {
  width: 780px; /* 원하는 최대 너비로 변경 */
}
